html {
    width: 100%;
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #f0f0f0;
    background: url('../images/bg.png') repeat;
    background-attachment: fixed;
    font-family: Datalegreya, sans-serif;
    font-weight: 900;
    color: #173e43;
}

@font-face {
    font-family: "Datalegreya";
    src: url('../fonts/Typo Gotika Light Demo.otf') format("truetype");
}

::selection {
    background: #FAD33E;
}

.main_Window {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.main_Content {
    width: 750px;
    height: 600px;
    background-color: #c0c0c0;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .1);
}

.main_Nav {
    height: 70px;
    background-color: #fae596;
    color: #173e43;
    display: flex;
}

.main_Nav ul {
    display: flex;
    list-style-type: none;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-padding-start: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.main_Nav li {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .2s;
}

.main_Nav li:hover {
    background-color: #3fb0ac;
    transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    color: #fff;
}

.main_Nav .focused {
    background-color: #FAD33E;
}
.main_Nav .focused:hover {
    background-color: #44DBD6;
}

.content_Text {
    padding: 35px 30px;
    font-size: 30px;
}

.text {
    border-bottom: 1px solid #FAD33E;
}

.content {
    height: 100%;
    padding: 50px 100px;
}

input[type='submit']:hover:disabled {
    transform: scale(1);
    cursor: not-allowed;
    color: #173e43;
}

input[type='submit']:hover {
    transform: scale(1.05);
    transition: .2s;
    color: #173e43;
}

input[type='text'], input[type='password'], input[type='email'] {
    border: none;
    outline: none;
    color: #173e43;
    border-bottom: 1px solid #FAD33E;
    font-size: 25px;
    width: 100%;
    font-weight: 800;
    font-family: "Datalegreya", sans-serif;
    padding: 10px 10px 2px 10px;
    background: none;
    transition: .2s;
}
input[type='text']:hover, input[type='password']:hover, input[type='email']:hover {
    transform: scale(1.02);
    transition: .2s;
}

input[type='text']:focus, input[type='password']:focus, input[type='email']:focus {
    border-bottom: 1px solid #999;
    transform: scale(1.02);
}

input[type='submit'] {
    padding: 10px 30px;
    background: none;
    color: #173e43;
    font-size: 25px;
    font-family: "Datalegreya", sans-serif;
    border: 1px solid #173e43;
    outline: none;
    transition: .2s;
    order: 2;
    font-weight: 800;
}

input[type='submit']:hover {
    transform: scale(1.05);
}

::-webkit-input-placeholder {
    font-weight: 900;
}

.item {
    margin-top: 20px;
}

.submit {
    margin-top: 40px;
    text-align: right;
}

select {
    transition: .2s;
    -webkit-appearance: none;
    color: #173e43;
    border: 1px solid #173e43;
    -moz-appearance: none;
    font-weight: 800;
    background-image: url('../images/arrow.png');
    background-size: 40px;
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: right;
    padding: 15px;
    font-size: 25px;
    width: 100%;
    font-family: "Datalegreya", sans-serif;
}

select:focus {
    outline: none;
    border: 1px solid #FAD33E;
}